<center>
    <form asp-action="Synchronous" asp-controller="Home" method="get">
        <input type="submit" value="Synchronous" class="btn-dark"/>
    </form>
    <br />
    <form asp-action="Asynchronous" asp-controller="Home" method="get">
        <input type="submit" value="Asynchronous" class="btn-dark"/>
    </form>
</center>
